/* -----------font imported from google fonts---------------- */
@import url('https://fonts.googleapis.com/css2?family=Montserrat,sans-serif:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Oxygen:wght@300;400;700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: #FFFFFF;
    font-family: Montserrat, sans-serif;
}
.container {
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
}
.container .flex-container {
    display: flex;
}
/* -----------------header navigation------------------ */
.navbar>* {
    display: none;
}
.navbar .header-img-lg {
    max-width: 100%;
    display: block;
}
.navbar .header-img {
    height: auto;
    width: 100%;
}
/* -----------------main container------------------ */
.main-container {
    margin-top: 80px;
}
/* -----------------section1------------------ */
.section1 .flex-container {
    padding-left: 115px;
}
.main-container .flex-container .flex-item-left .company_name {
    max-width: 100%;
}
.flex-item-left .sec1-title {
    font-family: Montserrat, sans-serif;
    font-size: 36px;
    font-weight: 800;
    line-height: 42px;
    color: #000000;
    margin: 20px 0;
}
.flex-item-left .benefits-list {
    list-style: none;
}
.flex-item-left .benefits-list>li {
    font-family: Oxygen, sans-serif;
    font-size: 22px;
    font-weight: 400;
    line-height: 27px;
    color: #313131;
    margin-bottom: 27px;
    display: flex;
}
.flex-item-left .benefits-list>li>img {
    margin-right: 13px;
}
.flex-item-left .fb_join_btn {
    border: none;
    height: 50px;
    width: 365px;
    background-color: #1877F2;
    padding: 7px 10px 7px 20px;
    cursor: pointer;
    display: flex;
    align-items: center;
}
.flex-item-left .fb_join_btn:hover {
    background-color: #305fbf;
}
.fb_join_btn a {
    text-decoration: none;
    display: flex;
    align-items: center;
    margin-left: 9px;
    font-family: Oxygen, sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 22px;
    color: #FFFFFF;
}
.flex-item-right {
    width: 100%;
}
.flex-item-right img {
    width: 100%;
}
/* -----------------section2------------------ */
.section2 .news-cont {
    text-align: center;
    margin-top: 60px;
    padding: 0px 65px;
}
.news-cont .newLetter h2 {
    font-family: Montserrat, sans-serif;
    font-size: 36px;
    font-weight: 800;
    line-height: 84px;
    color: #000000;
}
.news-cont .newLetter h2>span {
    position: relative;
}
.news-cont .newLetter h2>span>img {
    position: absolute;
    top: 35px;
    right: 10px;
}
.news-cont .flex-container {
    align-items: center;
    background-image: url(images/section2/bg_layer.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    justify-content: space-between;
    margin-top: 35px;
    padding: 40px;
}
.news-cont .flex-container>div {
    display: flex;
    gap: 15px;
    align-items: center;
}
.news-cont .flex-container>.col-1 {
    flex-basis: 61%;
}
.news-cont .flex-container>.col-2 {
    flex-basis: 33%;
}
.news-cont .flex-container .mailBox-div p {
    font-family: Montserrat, sans-serif;
    font-size: 28px;
    font-weight: 700;
    line-height: 30px;
    color: #000000;
}
.news-cont .flex-container .email-input input {
    height: 50px;
    width: 325px;
    border: 1px solid #ACACAC;
    padding: 14px 20px;
    background-color: #FFFFFF;
    font-family: Oxygen, sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 24px;
    color: #ACACAC;
}
.news-cont .flex-container .email-input input {
    outline: none;
}
.news-cont .flex-container .email-input input::placeholder {
    font-family: Oxygen, sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 24px;
    color: #ACACAC;
}
.news-cont .flex-container .email-input .sign-up-btn {
    height: 50px;
    width: 100px;
    background-color: #E04E00;
    font-family: Oxygen, sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 22px;
    color: #FFFFFF;
    border: none;
    cursor: pointer;
}
.news-cont .flex-container .email-input .sign-up-btn:hover {
    background-color: #e8552b;
}
/* ----------------section3-------------------------- */
.section3 .flex-container {
    margin-top: 70px;
    padding: 0px 65px;
}
.section3 .flex-container .user-review>.product-img {
    flex-basis: 44%;
    margin: 0px 0px 20px 0px;
}
.section3 .flex-container .user-review>.reviewcontent {
    flex-basis: 46%;
}
.section3 .user-review .product-img img {
    width: 100%;
}
.section3 .user-review {
    display: flex;
}
.user-review .reviewcontent .review-txt {
    font-family: Oxygen, sans-serif;
    font-size: 24px;
    font-weight: 700;
    line-height: 28px;
    color: #101820;
    margin-top: 25px;
}
.user-review .reviewcontent>img {
    margin: 40px 0px 10px 0px;
}
.user-review .reviewcontent .user-name {
    font-family: Oxygen, sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 24px;
    color: #101820;
}
/* -----------------section4--------------------------- */
.section4 .container {
    background-image: url(images/section4/bg_layer.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.section4 .flex-container {
    margin-top: 30px;
    padding: 30px 120px;
    align-items: center;
}
.section4 .flex-container>:nth-child(1) {
    flex-basis: 33%;
}
.section4 .flex-container>:nth-child(2) {
    flex-basis: 60%;
}
.section4 .flex-container .promo-txt>:first-child {
    font-family: Montserrat, sans-serif;
    font-size: 28px;
    font-weight: 700;
    line-height: 34px;
    color: #FFFFFF;
}
.section4 .flex-container .promo-txt>:last-child {
    font-family: Oxygen, sans-serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 28px;
    letter-spacing: 1px;
    color: #FAC9AF;
    margin-top: 20px;
}
/* ------------------footer---------------- */
footer .footer-img>* {
    display: none;
}
footer .footer-img>img {
    height: 100%;
    width: 100%;
}
footer .footer-img .footer-img-lg {
    display: block;
}
/* ==================================================================================== */
/* ------------------responsive-------------------------  */
@media screen and (max-width:1279px) {
    .container {
        max-width: 1279px;
    }
    /* -------------header image show acording to screen size---------------- */
    .navbar .header-img-lg {
        display: none;
    }
    .navbar .header-img-sm {
        width: 100%;
        display: block;
    }
    /* -----------------main container------------------ */
    .main-container {
        margin-top: 90px;
    }
    /* -----------------section1------------------ */
    .main-container .flex-container {
        padding-left: 25px;
    }
    .flex-item-left .sec1-title {
        margin: 26px 0px;
        font-size: 32px;
        line-height: 38px;
    }
    .flex-item-left .benefits-list>li {
        font-size: 20px;
        line-height: 26px;
    }
    .flex-item-left .fb_join_btn {
        margin-top: 10px;
    }
    .fb_join_btn a {
        font-size: 18px;
        line-height: 22px;
    }
    /* -----------------section2------------------ */
    .section2 .news-cont {
        margin-top: 80px;
        padding: 0px 25px;
    }
    .news-cont .flex-container>.col-1 {
        flex-basis: 41%;
    }
    .news-cont .newLetter img {
        max-width: 100%;
    }
    .news-cont .newLetter h2 {
        font-size: 30px;
    }
    .news-cont .flex-container .mailBox-div p {
        font-size: 24px;
        text-align: start;
    }
    /* ----------------section3-------------------------- */
    .section3 .flex-container {
        margin-top: 60px;
        padding: 0px 25px;
    }
    .user-review .reviewcontent .review-txt {
        font-size: 18px;
        line-height: 24px;
    }
    .user-review .reviewcontent>img {
        margin: 5px 0px 6px 0px;
    }
    .user-review .reviewcontent .user-name {
        font-size: 13px;
        line-height: 17px;
    }
    /* -----------------section4--------------------------- */
    .section4 .flex-container {
        padding: 30px 25px;
        align-items: center;
    }
    .section4 .flex-container>:nth-child(1) {
        flex-basis: 35%;
    }
    .section4 .flex-container>:nth-child(2) {
        flex-basis: 65%;
    }
    .section4 .flex-container .promo-txt>:first-child {
        font-size: 24px;
        line-height: 30px;
    }
    /* ------------------footer---------------- */
    footer .footer-img .footer-img-lg {
        display: none;
    }
    footer .footer-img .footer-img-sm {
        max-width: 100%;
        display: block;
    }
}
@media screen and (max-width:1023px) {
    .container {
        max-width: 1023px;
    }
    /* -------------header image show acording to screen size---------------- */
    .navbar .header-img-lg,
    .navbar .header-img-sm {
        display: none;
    }
    .navbar .header-img-tab {
        width: 100%;
        display: block;
    }
    .main-container {
        margin-top: 60px;
    }
    /* -----------------section1------------------ */
    .main-container .flex-container {
        justify-content: center;
    }
    .section1 .flex-container {
        flex-wrap: wrap;
    }
    .main-container .flex-container .flex-item-left {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .flex-item-left .sec1-title {
        font-size: 28px;
        line-height: 38px;
    }
    .flex-item-left .benefits-list>li {
        font-size: 20px;
        line-height: 26px;
    }
    .flex-item-left .benefits-list>li>img {
        margin-right: 13px;
    }
    .fb_join_btn a {
        font-size: 18px;
        line-height: 22px;
    }
    .flex-item-right {
        margin-top: 50px;
    }
    /* -----------------section2------------------ */
    .section2 .news-cont {
        margin-top: 40px;
        padding: 0px 35px;
    }
    .news-cont .flex-container {
        flex-direction: column;
        gap: 30px;
    }
    .news-cont .newLetter h2 {
        font-size: 28px;
        line-height: 40px;
    }
    .news-cont .newLetter h2>span>img {
        top: 22px;
        right: 10px;
    }
    .news-cont .newLetter img {
        max-width: 177px;
    }
    .news-cont .flex-container .mailBox-div {
        flex-direction: column;
        gap: 10px;
    }
    .news-cont .flex-container .mailBox-div p {
        margin: 0;
        font-size: 22px;
    }
    .news-cont .flex-container .email-input {
        justify-content: center;
    }
    .news-cont .flex-container .email-input input,
    .sign-up-btn {
        font-size: 16px;
    }
    /* ----------------section3-------------------------- */
    .section3 .flex-container {
        margin-top: 40px;
        padding: 0px 100px;
        align-items: center;
        flex-wrap: wrap;
    }
    .section3 .flex-container .user-review>.product-img {
        flex-basis: 45%;
        margin: 0px 30px 20px 0px;
    }
    .section3 .user-review .product-img img {
        height: 100%;
        width: 100%;
    }
    .user-review .reviewcontent .review-txt {
        max-width: 205px;
        font-size: 18px;
        line-height: 24px;
        margin-top: 20px;
    }
    .user-review .reviewcontent>img {
        margin: 5px 0px 6px 0px;
    }
    .user-review .reviewcontent .user-name {
        font-size: 13px;
        line-height: 17px;
    }
    /* -----------------section4--------------------------- */
    .section4 .container {
        background-image: url(images/section4/bg_layer_tablet.svg);
    }
    .section4 .flex-container {
        padding: 25px 35px;
        align-items: center;
        /* gap: 36px; */
    }
    .section4 .flex-container .avatar img {
        max-width: 200px;
    }
    .section4 .flex-container>:nth-child(2) {
        flex-basis: 70%;
    }
    .section4 .flex-container .promo-txt>:first-child {
        font-size: 18px;
        line-height: 24px;
    }
    /* ------------------footer---------------- */
    footer .footer-img .footer-img-lg,
    footer .footer-img .footer-img-sm {
        display: none;
    }
    footer .footer-img .footer-img-tab {
        max-width: 100%;
        display: block;
    }
}
@media screen and (max-width:767px) {
    .container {
        max-width: 767px;
    }
    .main-container {
        margin-top: 60px;
    }
    /* -------------header image show acording to screen size---------------- */
    .navbar .header-img-lg,
    .navbar .header-img-sm {
        display: none;
    }
    .navbar .header-img-tab {
        width: 100%;
        display: block;
    }
    /* -----------------section1------------------ */
    .main-container .flex-container {
        flex-wrap: wrap;
        justify-content: center;
    }
    .main-container .flex-container .flex-item-left {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .flex-item-left .sec1-title {
        font-size: 26px;
        line-height: 38px;
        text-align: center;
    }
    .flex-item-left .benefits-list {
        list-style: none;
        display: inline-block;
        text-align: center;
    }
    .flex-item-left .benefits-list>li {
        font-size: 20px;
        line-height: 26px;
    }
    .flex-item-left .benefits-list>li>img {
        margin-right: 13px;
    }
    .flex-item-left .fb_join_btn {
        margin-top: 0;
        margin: 27px 0px 50px 0px;
    }
    .fb_join_btn a {
        font-size: 18px;
        line-height: 22px;
    }
    /* -----------------section2------------------ */
    .section2 .news-cont {
        margin-top: 40px;
        padding: 0px 35px;
    }
    .news-cont .flex-container {
        margin-top: 34px;
        display: block;
        padding: 30px 59px 40px 59px;
        background-image: url(images/section2/bg_layer_tablet.svg);
    }
    .news-cont .newLetter h2 {
        font-size: 26px;
    }
    .news-cont .newLetter h2>span>img {
        top: 20px;
        right: 10px;
    }
    .news-cont .flex-container .mailBox-div {
        flex-direction: column;
    }
    .news-cont .flex-container .mailBox-div p {
        margin: 0;
        margin-bottom: 30px;
        font-size: 22px;
    }
    .news-cont .flex-container .email-input {
        justify-content: center;
    }
    .news-cont .flex-container .email-input input {
        font-size: 16px;
    }
    .news-cont .flex-container .email-input .sign-up-btn {
        font-size: 16px;
    }
    /* ----------------section3-------------------------- */
    .section3 .flex-container div,
    .user-review div {
        flex-basis: unset;
    }
    .section3 .user-review .product-img img {
        height: 100%;
        width: 100%;
    }
    .user-review .reviewcontent .review-txt {
        max-width: 205px;
        font-size: 18px;
        line-height: 24px;
        margin-top: 20px;
    }
    .user-review .reviewcontent>img {
        margin: 5px 0px 6px 0px;
    }
    .user-review .reviewcontent .user-name {
        font-size: 13px;
        line-height: 17px;
    }
    /* -----------------section4--------------------------- */
    .section4 .container {
        background-image: url(images/section4/bg_layer_tablet.svg);
    }
    .section4 .flex-container {
        padding: 25px 35px;
        align-items: center;
    }
    .section4 .flex-container .avatar img {
        height: auto;
        max-width: 200px;
    }
    .section4 .flex-container .promo-txt>:first-child {
        width: 462px;
        font-size: 18px;
        line-height: 24px;
    }
    /* ------------------footer---------------- */
    footer .footer-img .footer-img-lg,
    footer .footer-img .footer-img-sm {
        display: none;
    }
    footer .footer-img .footer-img-tab {
        max-width: 100%;
        display: block;
    }
}
@media screen and (max-width:580px) {
    /* -----------------header navigation------------------ */
    .navbar .header-img-lg,
    .navbar .header-img-sm,
    .navbar .header-img-tab {
        display: none;
    }
    .navbar .header-img-mob {
        width: 100%;
        display: block;
    }
    /* -----------------main container------------------ */
    .main-container {
        margin-top: 30px;
    }
    /* -----------------section1------------------ */
    .main-container .flex-container {
        padding: 0px 20px;
    }
    .main-container .flex-container .flex-item-left .company_name {
        width: 100%;
        display: flex;
        justify-content: center;
    }
    .main-container .flex-container .flex-item-left .company_name img {
        max-width: 278px;
    }
    .flex-item-left .sec1-title {
        font-size: 24px;
        line-height: 28px;
        margin: 20px 0px;
    }
    .flex-item-left .benefits-list>li {
        font-size: 18px;
        line-height: 24px;
    }
    .flex-item-left .benefits-list>li>img {
        margin-right: 13px;
    }
    .flex-item-left .fb_join_btn {
        margin: 20px 0px 0px 0px;
        height: 44px;
        width: 321px;
        padding: 5px;
        margin: 0;
    }
    .fb_join_btn a {
        gap: 7px;
        font-size: 16px;
        line-height: 20px;
    }
    /* -----------------section2------------------ */
    .section2 .news-cont {
        padding: 0px 20px;
    }
    .news-cont .newLetter h2 {
        font-size: 18px;
        line-height: 28px;
    }
    .newLetter img {
        width: 122px;
    }
    .news-cont .flex-container {
        margin-top: 23px;
        padding: 30px 20px;
        background-image: url(images/section2/bg_layer_mobile.svg);
    }
    .news-cont .newLetter h2>span>img {
        top: 13px;
        /* right: -121px; */
    }
    .news-cont .flex-container .mailBox-div p {
        font-size: 20px;
        line-height: 26px;
        margin-bottom: 20px;
        text-align: center;
    }
    .news-cont .flex-container .email-input {
        flex-direction: column;
    }
    .news-cont .flex-container .email-input input {
        width: 294px;
        font-size: 16px;
    }
    .news-cont .flex-container .email-input input::placeholder {
        font-size: 16px;
    }
    .news-cont .flex-container .email-input .sign-up-btn {
        width: 294px;
        font-size: 16px;
        line-height: 24px;
    }
    /* ----------------section3-------------------------- */
    .section3 .flex-container {
        margin-top: 40px;
        padding: 0px 72px;
        text-align: start;
    }
    .section3 .user-review {
        display: block;
        flex-direction: column;
        gap: unset;
    }
    .section3 .flex-container .user-review>.product-img {
        margin: 0;
        max-width: 250px;
    }
    .section3 .user-review .product-img img {
        height: 100%;
        width: 100%;
    }
    .user-review .reviewcontent .review-txt {
        max-width: 100%;
        font-size: 18px;
        line-height: 24px;
        margin-top: 20px;
    }
    .user-review .reviewcontent>img {
        margin: 10px 0px 6px 0px;
    }
    .user-review .reviewcontent .user-name {
        font-size: 13px;
        line-height: 17px;
    }
    /* -----------------section4--------------------------- */
    .section4 .container {
        background-image: url(images/section4/bg_layer_mobile.svg);
    }
    .section4 .flex-container {
        margin-top: 80px;
        padding: 20px;
    }
    .section4 .flex-container>:nth-child(2) {
        flex-basis: 100%;
        margin-top: 30px;
    }
    .section4 .flex-container .promo-txt>:first-child {
        width: 100%;
        font-size: 18px;
        line-height: 24px;
    }
    .section4 .flex-container .promo-txt>:last-child {
        font-size: 14px;
        line-height: 28px;
    }
    /* ------------------footet---------------- */
    footer .footer-img .footer-img-lg,
    footer .footer-img .footer-img-sm,
    footer .footer-img .footer-img-tab {
        display: none;
    }
    footer .footer-img .footer-img-mob {
        max-width: 100%;
        display: block;
    }
}
/*----------------- curve mark positioning------------- */
@media screen and (max-width: 375px) {
    .news-cont .newLetter h2>span>img {
        top: 13px;
        left: 0;
    }
}
@media screen and (max-width: 375px) {
    .news-cont .newLetter h2 {
        font-size: 16px;
        line-height: 24px;
    }
    .news-cont .newLetter h2>span>img {
        width: 100px;
        top: 12px;
        left: 0px;
    }
}
